.area-complaints-header{
    display: flex;
    justify-content: space-between;
    padding: 4vmin 10vmin;
    align-items: center;
}

.area-complaints-header button{
    font-size: 1rem;
    padding: 2vmin;
    border: none;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(73, 73, 73);
    color: white;
    font-family: inherit;
    cursor: pointer;
}