.popup-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.542) !important;
    z-index: 1000;
}

.popup{
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: red;
    padding: 4vmin 2vmin;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    align-items: center;
}

.popup-details{
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

.popup-details h1, .popup-details p{
    color: black;
}

.popup-btn{
    color: white;
    font-family: inherit;
    padding: 1.8vmin 3vmin;
    border: none;
    font-size: 1rem;
    background-color: rgb(56, 139, 255);
    border-radius: 10px;
    cursor: pointer;
}